.about-cat {
  margin-bottom: 8px;
}

.about-cat__paragraph {
  margin-top: 0;
}

.about-cat__data-label {
  @include font-regular;
  @include label;
  padding-right: 10px;
}

.about-cat__data {
  @include font-regular;
  @include label;
  box-sizing: border-box;
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 14px;
  border: $border-input;

  &:hover {
    border-color: rgb(205, 205, 205);
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

.about-cat__data--name {
  width: 228px;
}

.about-cat__data--weight {
  width: 206px;
}

.about-cat__data--age {
  width: 173px;
}

@media (min-width: 768px) {
  .about-cat {
    margin-bottom: 56px;
  }

  .about-cat__data-label {
    font-size: 20px;
    line-height: 20px;
    padding-left: 3px;
    padding-right: 14px;
  }

  .about-cat__data {
    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box;
    padding-left: 19px;
    padding-bottom: 13px;
  }

  .about-cat__data--name {
    width: 564px;
  }

  .about-cat__data--weight {
    width: 537px;
  }

  .about-cat__data--age {
    width: 495px;
  }
}
