.selection-label {
  margin: 0;
  padding: 0;
  border: none;
}

.about-cat__paragraph {
  margin-top: 0;

  &:last-child {
    margin-bottom: 21px;
  }
}

.select__form-label {
  @include font-regular;
  @include label;
  padding-right: 10px;
}

.about-cat__data {
  @include font-regular;
  @include label;
  box-sizing: border-box;
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 14px;
  border: $border-input;

  &:hover {
    border-color: rgb(205, 205, 205);
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

.about-cat__data--name {
  width: 228px;
}

.about-cat__data--weight {
  width: 206px;
}

.about-cat__data--age {
  width: 173px;
}
