.contacts-data__field-label {
  @include font-regular;
  @include label;
  padding-right: 10px;
}

.contacts-data__field {
  @include font-regular;
  @include label;
  box-sizing: border-box;
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 14px;
  border: $border-input;

  &:hover {
    border-color: rgb(205, 205, 205);
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

.contacts-data__paragraph {
  position: relative;
  margin-top: 0;
}

.contacts-data__paragraph:last-child {
  margin-bottom: 25px;
}

.contacts-data__field--mail {
  box-sizing: border-box;
  width: 216px;
  padding-right: 40px;
}

.contacts-data__field--mail-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.contacts-data__field--phone {
  box-sizing: border-box;
  width: 199px;
  padding-right: 40px;
}

.contacts-data__field--phone-icon {
  position: absolute;
  top: 10px;
  right: 13px;
}

.contacts-data__title::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -20px;
  width: 99px;
  height: 3px;
  background-color: $main_color;
}
