.program-selection {
  width: 280px;
  margin: 0 auto;
}

.program-selection__title {
  @include font-regular;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 60px;
}

.program-selection__task {
  @include font-regular;
  width: 226px;
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .program-selection {
    width: 633px;
    margin: 0 auto;
  }

  .program-selection__title {
    font-size: 60px;
    line-height: 60px;
  }

  .program-selection__task {
    width: 387px;
    margin-top: 55px;
    margin-bottom: 66px;
    padding-left: 3px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1440px) {
  .program-selection {
    width: 1220px;
  }
}
