.program-selection {
  width: 280px;
  margin: 0 auto;
}

.program-selection__title {
  @include font-regular;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
}

.program-selection__task {
  @include font-regular;
  text-transform: uppercase;
  width: 226px;
  margin-bottom: 20px;
}

.selection-label {
  border: none;
  padding: 0;
  margin: 0;
}

.select__form-label {
  @include font-regular;
  @include label;
  padding-right: 10px;
}

.about-cat__data,
.contacts-data__field {
  display: inline-block;
  margin-right: 0;
  border: 1px solid #cdcdcd;
  padding: 10px;
  padding-left: 10px;
  max-width: 220px;
}
