.program-selection {
  width: 280px;
  margin: 0 auto;
}

.page-main__title {
  @include font-regular;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 26px;
  padding-left: 20px;
  font-size: 36px;
  line-height: 60px;
}

.program-selection__task {
  @include font-regular;
  width: 226px;
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.selection-form__title {
  @include font-regular;
  position: relative;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
}

.selection-form__button {
  @include button;
  box-sizing: border-box;
  width: 280px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}

.button {
  &:hover {
    background-color: #5eaa2f;

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.selection-form__important-information {
  display: inline-block;
  width: 280px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
