.text-box__textarea-box {
  @include font-regular;
  box-sizing: border-box;
  width: 280px;
  height: 150px;
  padding-top: 11px;
  padding-left: 13px;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  overflow: auto;
}

.text-box__textarea-box::placeholder {
  @include font-regular;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.text-box {
  margin-bottom: 23px;
}

.text-box__title::after {
  content: "";
  position: absolute;
  top: 14px;
  right: -178px;
  width: 158px;
  height: 3px;
  background-color: $main_color;
}

@media (min-width: 768px) {
  .text-box__title::after {
    top: 22px;
    right: -516px;
    width: 480px;
  }

  .text-box__title::before {
    content: "";
    position: absolute;
    top: 22px;
    left: -69px;
    width: 30px;
    height: 3px;
    background-color: $main_color;
  }

  .text-box__textarea-box {
    width: 633px;
    height: 174px;
    padding-top: 8px;
    padding-left: 21px;
    font-size: 20px;
    line-height: 30px;
  }

  .text-box__textarea-box::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .text-box {
    margin-bottom: 59px;
  }
}

@media (min-width: 1300px) {
  .text-box {
    width: 1220px;
    margin-bottom: 63px;
  }

  .text-box__title::after {
    right: -1148px;
    width: 1111px;
  }

  .text-box__title::before {
    left: -110px;
    width: 70px;
  }

  .text-box__textarea-box {
    width: 1220px;
    padding-top: 10px;
    padding-left: 19px;
  }
}
