body {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.center {
  width: 280px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  @include font-regular;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  border: none;
  cursor: pointer;
}
