.page-main__title {
  @include font-regular;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 26px;
  padding-left: 20px;
  font-size: 36px;
  line-height: 60px;
}

.page-main__title--border {
  padding-bottom: 2px;
}

@media (min-width: 768px) {
  .page-main {
    width: 768px;
  }

  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    margin-top: 33px;
    margin-bottom: 22px;
  }
}

@media (min-width: 1440px) {
  .page-main {
    width: 1440px;
    margin: 0 auto;
  }

  .page-main__title {
    padding-left: 110px;
    margin-top: 48px;
  }
}
