// MAIN-FOOTER__DATE

.main-footer__date {
  width: 320px;
  min-height: 420px;
  margin: 0;
  padding: 0;
  padding-top: 28px;
}

.main-footer__date--background {
  background-color: #f2f2f2;
}

.main-footer__cooperation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.main-footer__cooperation-invitation {
  @include font-regular;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__cooperation-location {
  width: 140px;
  margin: 0;
  line-height: 20px;
}

.main-footer__map {
  position: relative;
  width: 320px;
  margin: 0;
  padding: 0;
}

.main-footer__map-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.main-footer__map::before {
  content: "";
  position: absolute;
  top: 158px;
  left: 132px;
  z-index: 15;
  width: 55px;
  height: 53px;
  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px;
}

.main-footer__map-live {
  position: relative;
  z-index: 50;
}

.main-footer__social-img:hover .main-footer__social-svg-st0 {
  fill: $main_color;
}

.main-footer__social-img:active .main-footer__social-svg-st0 {
  fill: rgba(104, 183, 56, 0.3);
}

.main-footer__developers-link:hover .main-footer__developers-svg {
  fill: $main_color;
}

.main-footer__developers-link:active {
  opacity: 0.3;
}


// MAIN-FOOTER__ABOUT

.main-footer__about {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid transparent;
}

.main-footer__about-background {
  width: 280px;
  margin: 0 auto;
}

.main-footer__logo {
  margin-bottom: 28px;
  padding-top: 40px;
  text-align: center;
}

.main-footer__social {
  margin-bottom: 30px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.main-footer__social-network {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 13px;
  padding: 0;
  list-style: none;
}

.main-footer__social-logo {
  margin-right: 37px;
}

.main-footer__social-img {
  vertical-align: middle;
}

.main-footer__developers {
  margin-bottom: 30px;
}

.main-footer__developers-link {
  @include link;
  position: relative;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.main-footer__developers-icon {
  position: absolute;
  top: -14px;
  left: 245px;
  width: 42px;
  height: 47px;
}
