.main-footer__date {
  width: 320px;
  min-height: 420px;
  margin: 0;
  padding: 0;
  padding-top: 28px;
}

.main-footer__cooperation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.main-footer__cooperation-invitation {
  @include font-regular;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__cooperation-location {
  width: 140px;
  margin: 0;
  line-height: 20px;
}

.main-footer__map {
  position: relative;
  width: 320px;
  margin: 0;
  padding: 0;
}

.main-footer__map-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.main-footer__map::before {
  content: "";
  position: absolute;
  top: 158px;
  left: 132px;
  z-index: 15;
  width: 55px;
  height: 53px;
  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px;
}

.main-footer__map-live {
  position: relative;
  z-index: 50;
}

.main-footer__social-img:hover .main-footer__social-svg-st0 {
  fill: $main_color;
}

.main-footer__social-img:active .main-footer__social-svg-st0 {
  fill: rgba(104, 183, 56, 0.3);
}

.main-footer__developers-link:hover .main-footer__developers-svg {
  fill: $main_color;
}

.main-footer__developers-link:active {
  opacity: 0.3;
}
