// MAIN-FOOTER__DATE
.main-footer__date {
  width: 320px;
  min-height: 420px;
  margin: 0;
  padding: 0;
  padding-top: 28px;
}

.main-footer__date--background {
  background-color: #f2f2f2;
}

.main-footer__cooperation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.main-footer__cooperation-item {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.main-footer__cooperation-invitation {
  @include font-regular;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__cooperation-location {
  display: block;
  width: 140px;
  margin: 0;
  line-height: 20px;
  color: #444444;
}

.main-footer__map {
  position: relative;
  width: 320px;
  height: 362px;
  margin: 0;
  padding: 0;
}

.main-footer__map-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 362px;
  z-index: 5;
}

.main-footer__map::before {
  content: "";
  position: absolute;
  top: 158px;
  left: 132px;
  z-index: 15;
  width: 55px;
  height: 53px;
  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px;
}

.main-footer__map-live {
  position: relative;
  z-index: 50;
}

// MAIN-FOOTER__ABOUT
.main-footer__about {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid transparent;
}

.main-footer__about-background {
  width: 280px;
  margin: 0 auto;
}

.main-footer__logo {
  margin-bottom: 26px;
  padding-top: 40px;
  text-align: center;
}

.main-footer__social {
  margin-bottom: 30px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.main-footer__social-network {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
}

.main-footer__social-img {
  vertical-align: middle;
}

.main-footer__social-svg {
  fill: #666666;

  &:hover {
    fill: $main_color;
  }

  &:active {
    fill: rgba(104, 183, 56, 0.3);
  }
}

.main-footer__social-svg--vk {
  margin-bottom: 4px;
  margin-left: -2px;
}

.main-footer__social-svg--fb {
  margin-top: -3px;
  margin-right: 7px;
  margin-left: 4px;
}

.main-footer__developers {
  margin-bottom: 30px;
}

.main-footer__developers-link {
  @include link;
  position: relative;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.main-footer__developers-icon {
  position: absolute;
  top: -14px;
  left: 245px;
  width: 42px;
  height: 47px;
  fill: #666666;
}

.main-footer__developers-link:hover .main-footer__developers-icon {
  fill: $main_color;
}

.main-footer__developers-link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .main-footer {
    width: 768px;
    margin: 0 auto;
  }

  .main-footer__cooperation {
    width: 625px;
    margin-bottom: 57px;
  }

  .main-footer__cooperation--shift {
    margin-top: 36px;
  }

  .main-footer__cooperation-item {
    width: 768px;
    justify-content: space-between;
  }

  .main-footer__cooperation-invitation {
    font-size: 20px;
    line-height: 25px;
  }

  .main-footer__cooperation-location {
    width: 195px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #444444;
  }

  .main-footer__cooperation-location-height {
    display: block;
    padding-top: 19px;
  }

  .main-footer__date,
  .main-footer__about {
    width: 768px;
    margin: 0 auto;
  }

  .main-footer__date {
    padding-bottom: 34px;

  }

  .main-footer__about--shift {
    padding-bottom: 34px;
    padding-top: 0;
  }

  .main-footer__map {
    width: 768px;
    height: 362px;
  }

  .main-footer__map-image {
    width: 768px;
    height: 396px;
  }

  .main-footer__map-live {
    height: 396px;
  }

  .main-footer__map::before {
    top: 147px;
    left: 317px;
    z-index: 15;
    width: 133px;
    height: 106px;
    background-size: 124px;
  }

  .main-footer__about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    height: 84px;
    margin: 0 auto;
    padding-top: 65px;
    vertical-align: bottom;
    text-align: center;
  }

  .main-footer__about-wrapper--shift {
    padding-top: 99px;
  }

  .main-footer__logo,
  .main-footer__social,
  .main-footer__developers,
  .main-footer__social-network {
    margin: 0;
    padding: 0;
    border: none;
  }

  .main-footer__developers {
    display: block;
    width: 214px;
  }

  .main-footer__developers-icon {
    position: absolute;
    top: -12px;
    left: 130px;
    width: 42px;
    height: 47px;
  }

  .main-footer__social-network {
    justify-content: space-between;
    width: 125px;
  }

  .main-footer__social-svg--vk {
    width: 31px;
    height: 19px;
  }

  .main-footer__social-svg--ins {
    width: 23px;
    height: 23px;
  }

  .main-footer__social-svg--fb {
    width: 14px;
    height: 28px;
    margin-top: -4px;
    margin-right: 1px;
    margin-left: -2px;
  }

  .main-footer__social-logo {
    margin-right: 0;
  }

  .main-footer__logo {
    padding-right: 70px;
  }
}

@media (min-width: 1300px) {
  .main-footer {
    width: 100%;
    background-color: #f2f2f2;
  }

  .main-footer__date {
    position: relative;
    width: 100%;
    min-height: 399px;
    padding: 0;
  }

  .main-footer__cooperation {
    position: absolute;
    top: 94px;
    left: 110px;
    z-index: 100;
    width: 570px;
    margin: 0;
    background-color: #ffffff;
  }

  .main-footer__cooperation-item {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .main-footer__cooperation-invitation {
    margin-top: 8px;
    margin-left: 22px;
  }

  .main-footer__cooperation-location {
    margin-top: 6px;
    margin-right: -5px;
    text-align: left;
  }

  .main-footer__map-image {
    width: 100vw;
    height: 399px;
  }

  .main-footer__map {
    width: 100%;
    height: 399px;
  }

  .main-footer__map-live {
    height: 399px;
  }

  .main-footer__map::before {
    top: 150px;
    left: 993px;
    background: none;
  }

  .main-footer__about {
    width: 1300px;
  }

  .main-footer__about-wrapper {
    width: 1220px;
    padding-top: 64px;
  }

  .main-footer__logo-image {
    margin: 0;
  }

  .main-footer__social-svg--fb {
    margin-top: -4px;
    margin-right: 1px;
    margin-left: -2px;
  }

  .main-footer__about-wrapper--shift {
    padding-top: 64px;
  }
}
