@mixin font-medium {
  font-family: "OswaldMedium", "Arial", sans-serif;
  font-weight: 500;
}

@mixin font-regular {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: 400;
}

@mixin link {
  text-decoration: none;
  color: #000000;
}

@mixin label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

@mixin big-btn {
  width: 280px;
  box-sizing: border-box;
}

@mixin width {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}
