.page-header__logo {
  display: block;
  padding: 10px;
  padding-bottom: 5px;
  padding-left: 18px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo-image {
  &:hover {
    opacity: 0.8;

    &:active {
      opacity: 0.6;
    }
  }
}

@media (min-width: 768px) {
  .page-header__logo {
    padding-top: 23px;
    padding-left: 31px;
    padding-right: 66px;
    border: none;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: 1440px) {
  .logo-image {
    margin-left: 79px;
}

  .page-header__logo-image {
    width: 202px;
    height: 59px;
  }
}
