.page-header {
  position: relative;
}

@media (min-width: 768px) {
  .page-header__conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    margin-bottom: 4px;
  }
}

@media (min-width: 1300px) {
  .page-header {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    position: relative;
  }

  .page-header__conteiner {
    width: 1220px;
    margin: 0 auto;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
  }

  .page-header__conteiner--background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 696px;
    margin: 0;
    background-color: #65a93c;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
  }
}
