.site-list__item-link {
  @include font-medium;
  @include link;
  position: relative;
  display: block;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  &:hover {
    color: rgba(17, 17, 17, 0.6);

    &:active {
      color: rgba(17, 17, 17, 0.3);
    }
  }
}

@media (min-width: 768px) {
  .site-list__item-link {
    @include font-regular;
    display: block;
    border: none;
  }

  .site-list__item-link--active {
    border-bottom: 2px solid $main_color;
    padding-bottom: 7px;
  }
}

@media (min-width: 1440px) {
  .site-list__item-link--white {
    color: #ffffff;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .site-list__item-link--white-active {
    border-color: #ffffff;
  }
}
