.example {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 1px;
  padding: 0;
  background-color: $background-color;
  border-bottom: 1px solid transparent;
}

.example__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding-top: 16px;
}

.lead-titles {
  @include font-regular;
  margin-top: 0;
  font-size: 36px;
  line-height: 60px;
}

.example__description {
  width: 279px;
  margin: 0 auto;
  margin-bottom: 38px;
}

.example-block__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.example-blok__date {
  @include font-regular;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.example-blok__weight,
.example-blok__time {
  position: relative;
}

.example-blok__weight-reduction {
  padding-top: 8px;
  padding-right: 43px;
  padding-bottom: 10px;
  padding-left: 41px;
}

.example-blok__weight-description {
  position: absolute;
  bottom: -42px;
  left: 21px;
  width: 80px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background-color: $background-color;
}

.example-blok__time-day {
  padding: 10px 20px 10px 20px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.example-blok__time-description {
  position: absolute;
  bottom: -42px;
  left: 16px;
  width: 90px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;

  background-color: $background-color;
}

.example-block__cost {
  @include font-regular;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

// Слайдер
.example__slaider {
  position: relative;
  margin-bottom: 23px;
}

.example__slaider-wrapper {
  position: relative;
  display: flex;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.example__slaider-item {
  position: relative;
  display: none;
}

.slider__switch-before:checked ~ .example__slaider-item--before,
.slider__switch-after:checked ~ .example__slaider-item--after {
  display: block;
}

.example__slaider-image {
  margin-bottom: 60px;
}

.slider__switch-label {
  @include font-regular;
  position: absolute;
  bottom: 11px;
  z-index: 50;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__switch-label-before {
  left: 63px;
}

.slider__switch-label-after {
  right: 59px;
}

.switch {
  position: relative;
  bottom: -293px;
  left: 118px;
  z-index: 50;
  display: inline-block;
  width: 84px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.switch::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 36px;
  height: 6px;
  background-color: #68b738;
  border-radius: 6px;
}

.slider__switch-before:checked ~ .switch::after {
  left: 5px;
}

.slider__switch-after:checked ~ .switch::after {
  transform: translateX(43px);
}

.slider__switch-label:hover {
  position: absolute;
  bottom: 8px;
  z-index: 50;
  padding-bottom: 2px;
  border-bottom: 1px solid #111111;
  cursor: pointer;
}
