.example-block__wrapper-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.example-block__date {
  @include font-regular;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.example-block__weight,
.example-block__time {
  position: relative;
}

.example-block__weight-reduction {
  padding-top: 8px;
  padding-right: 43px;
  padding-bottom: 10px;
  padding-left: 41px;
}

.example-block__weight-description {
  position: absolute;
  bottom: -42px;
  left: 21px;
  width: 80px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background-color: $background-color;
}

.example-block__time-day {
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.example-block__time-description {
  position: absolute;
  bottom: -42px;
  left: 16px;
  width: 90px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background-color: $background-color;
}

.example-block__cost {
  @include font-regular;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .example-block__wrapper {
    display: flex;
    justify-content: space-between;
    width: 708px;
  }

  .example-block__wrapper-item {
    display: flex;
    justify-content: flex-start;
    width: 450px;
    margin: 0;
  }

  .example-block__item {
    margin-right: 42px;
  }

  .example-block__date {
    font-size: 30px;
    line-height: 37px;
  }

  .example-block__cost {
    width: 180px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example-block__cost-height {
    display: block;
    padding-top: 7px;
  }

  .example-block__weight-reduction {
    padding-top: 10px;
    padding-right: 57px;
    padding-bottom: 15px;
    padding-left: 55px;
  }

  .example-block__time-day {
    padding-top: 10px;
    padding-right: 29px;
    padding-bottom: 15px;
    padding-left: 29px;
  }

  .example-block__weight-description,
  .example-block__time-description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .example-block__weight-description {
    bottom: -30px;
    width: 119px;
  }

  .example-block__time-description {
    bottom: -30px;
    width: 130px;
  }
}

@media (min-width: 1300px) {
  .example-block__wrapper {
    flex-direction: column;
  }

  .example-block__weight-description {
    bottom: -39px;
    background-color: #f2f2f2;
  }

  .example-block__time-description {
    bottom: -39px;
    background-color: #f2f2f2;
  }

  .example-block__cost {
    width: 330px;
    margin-top: 81px;
    margin-left: -2px;
  }

  .example-block__cost-height {
    display: inline;
    padding-left: 60px;
  }
}
