.example {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 1px;
  padding: 0;
  background-color: $background-color;
  border-bottom: 1px solid transparent;
}

.example__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding-top: 16px;
}

.example__description {
  width: 279px;
  margin: 0 auto;
  margin-bottom: 38px;
}

@media (min-width: 768px) {
  .example {
    width: 768px;
    margin-bottom: 9px;
    background-color: #ffffff;
  }

  .example__wrapper {
    width: 708px;
    margin: 0 auto;
  }

  .example__title {
    width: 100%;
    margin-bottom: 65px;
    margin-left: 30px;
    padding-top: 18px;
  }

  .example__description {
    width: 680px;
    margin-bottom: 67px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1300px) {
  .example {
    width: 100%;
    margin-bottom: 0;
    border: none;
  }

  .example__title {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 75px;
    padding-top: 0;
  }

  .example__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to right, #f2f2f2 70%, #eaeaea 30%);
  }

  .example__container {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .example__wrapper {
    width: 433px;
    margin: 0;
  }

  .example__description {
    width: 433px;
    margin-top: 71px;
    margin-bottom: 83px;
  }
}
