.lead-titles {
  @include font-regular;
  margin-top: 0;
  font-size: 36px;
  line-height: 60px;
}

@media (min-width: 768px) {
  .lead-titles {
    font-size: 60px;
    margin-left: 30px;
    margin-bottom: 59px;
  }
}
