.presentation {
  position: relative;
  width: 320px;
  max-height: 305px;
  margin-bottom: 199px;
  background-color: #63a73a;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.presentation::after {
  content: "";
  display: block;
  width: 280px;
  height: 270px;
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 20px 2px;
}

@media (min-width: 320px) and (min-resolution: 144dpi),
       (min-width: 320px) and (min-resolution: 1.5dppx) {
         .presentation {
           background-image: url("../img/index-background-mobile@2x.jpg");
           background-size: 320px auto;
         }

         .presentation::after {
           background-image: url("../img/index-can-mobile@2x.png");
           background-size: 280px auto;
         }
}

.presentation__title {
  @include font-regular;
  display: inline-block;
  width: 265px;
  margin-top: 28px;
  margin-bottom: 25px;
  margin-left: 27px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.presentation__description {
  @include font-regular;
  margin: 0;
  margin-bottom: 25px;
  margin-left: 60px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.presentation__button {
  @include button;
  position: absolute;
  bottom: -176px;
  left: 20px;
  padding: 11px 74px;

  &:hover {
    background-color: #5eaa2f;

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: 768px) {
  .presentation {
    position: relative;
    width: 708px;
    margin: 0 auto;
    margin-bottom: 534px;
    background: none;
  }

  .presentation__title {
    width: 420px;
    margin-bottom: 41px;
    margin-left: 87px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }

  .presentation__description {
    margin-bottom: 20px;
    margin-left: 89px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }

  .presentation::after {
    width: 708px;
    height: 609px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 0;
    background-size: 708px auto; /*608px*/
  }

  @media (min-width: 768px) and (min-resolution: 144dpi),
         (min-width: 768px) and (min-resolution: 1.5dppx) {
           .presentation::after {
             background-image: url("../img/index-can-tablet@2x.jpg");
             background-size: 708px auto;
            }
  }

  .presentation__button {
    bottom: -4px;
    left: 88px;
    padding: 16px 27px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1440px) {
  .presentation {
    width: 1440px;
    margin-top: -140px;
    margin-bottom: 472px;
  }

  .presentation::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 720px;
    height: 696px;
    background-color: #63a73a;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right top;
  }

  .presentation::after {
    position: absolute;
    top: 71px;
    left: 560px;
    width: 660px;
    height: 640px;
    background-image: url("../img/index-can-desktop@1x.png");
    background-size: 552px auto;
  }

  @media (min-width: 1440px) and (min-resolution: 144dpi),
         (min-width: 1440px) and (min-resolution: 1.5dppx) {
          .presentation::before {
            background-image: url("../img/index-background-desktop@2x.jpg");
            background-size: 720px auto;
          }

          .presentation::after {
            background-image: url("../img/index-can-desktop@2x.png");
          }
  }

  .presentation__title {
    margin-top: 222px;
    margin-left: 190px;
  }

  .presentation__description {
    margin-left: 190px;
  }

  .presentation__button {
    bottom: -203px;
    left: 190px;
    z-index: 100;
  }
}
