.slaider {
  position: relative;
  margin-bottom: 23px;
}

.slaider__wrapper {
  position: relative;
  display: flex;
  width: 280px;
  margin: 0;
  padding: 0;
}

.slaider__item {
  position: relative;
  display: none;
}

.slider__switch-before:checked ~ .slaider__item--before,
.slider__switch-after:checked ~ .slaider__item--after {
  display: block;
}

.slaider__image {
  width: 320px;
  height: 240px;
  margin-bottom: 60px;
}

.slider__switch-label {
  @include font-regular;
  position: absolute;
  bottom: 11px;
  z-index: 50;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__switch-label-before {
  left: 63px;
}

.slider__switch-label-after {
  right: 59px;
}

.slider__switch {
  position: absolute;
  bottom: 15px;
  left: 118px;
  z-index: 50;
  display: inline-block;
  width: 84px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.slider__switch::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 36px;
  height: 6px;
  background-color: #68b738;
  border-radius: 6px;
}

.slider__switch-before:checked ~ .slider__switch::after {
  left: 5px;
}

.slider__switch-after:checked ~ .slider__switch::after {
  transform: translateX(43px);
}

.slider__switch-label:hover {
  position: absolute;
  bottom: 8px;
  z-index: 50;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.4);
  cursor: pointer;
}

@media (min-width: 768px) {
  .slaider {
    width: 768px;
    min-height: 463px;
    margin-top: 265px;
    margin-bottom: 25px;
    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .slaider__item {
    display: block;
  }

  .slaider__image-before {
    position: absolute;
    top: -168px;
    left: 47px;
    width: 688px;
    height: 515px;

    clip: rect(auto, 337px, auto, auto);
  }

  .slaider__image-after {
    position: absolute;
    top: -168px;
    left: 49px;
    display: block;
    width: 685px;
    height: 515px;
    clip: rect(auto, auto, auto, 335px);
  }

  .slider__switch {
    bottom: -380px;
    left: 168px;
    width: 429px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
  }

  .slider__switch::after {
    display: none;
  }

  .slider__switch::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 199px;
    width: 33px;
    height: 33px;
    background-color: #68b738;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: inset 0 0 0 13px #ffffff,
      1px 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  .slider__switch:hover::before {
    box-shadow: inset 0 0 0 13px #ffffff,
      1px 2px 5px rgba(0, 0, 0, 0.15);
  }

  .slider__switch:active::before {
    width: 32px;
    height: 32px;
    border: 2px solid #68b738;
    box-shadow: inset 0 0 0 13px #ffffff,
      1px 2px 5px rgba(0, 0, 0, 0.15);
  }

  .slider__switch-label {
    bottom: 70px;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted rgba(17, 17, 17, 0.23);
  }

  .slider__switch-label-before {
    left: 99px;
  }

  .slider__switch-label-after {
    right: 99px;
  }

  .slider__switch-label:hover {
    position: absolute;
    bottom: 70px;
    z-index: 50;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.4);
    cursor: pointer;
  }

  .slider__switch-label:active {
    bottom: 71px;
    border: none;
  }
}

@media (min-width: 1300px) {
  .slaider {
    width: 790px;
    min-height: 462px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 107px;
    background: linear-gradient(to right, #f2f2f2 58%, #eaeaea 42%);
  }

  // Стиль для IE 11
  @media (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width : 1300px) {
    .slaider {
      margin-left: 160px;
    }
  }

  .slaider__image-before {
    top: -190px;
    left: 31px;
    clip: rect(auto, 365px, auto, auto);
  }

  .slaider__image-after {
    top: -191px;
    left: 32px;
    clip: rect(auto, auto, auto, 364px);
  }

  .slider__switch-label-before {
    bottom: 69px;
    left: 110px;
  }

  .slider__switch-label-after {
    right: 0;
    bottom: 69px;
  }

  .slider__switch-label:hover {
    bottom: 69px;
  }

  .slider__switch-label:active {
    bottom: 70px;
  }

  .slider__switch {
    bottom: -380px;
    left: 179px;
  }
}
