.target__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 17px;
  background-color: $background-color;
  border-bottom: 1px solid transparent;
}

.target__item:last-child {
  margin-bottom: 16px;
}

.target__title {
  @include font-regular;
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 90px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.target__title-block1 {
  padding-top: 29px;
}

.target__title-block2 {
  padding-top: 32px;
}

.target__title--slim-image::before,
.target__title--mass-image::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: $main_color;
  border-radius: 50%;
}

.target__title--slim-image::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.target__title--mass-image::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 13px;
  width: 66px;
  height: 50px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.target__description {
  margin-right: 25px;
  margin-bottom: 21px;
  margin-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.target__button {
  @include font-regular;
  @include link;
  position: relative;
  display: inline-block;
  margin-bottom: 21px;
  margin-left: 20px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.target__button::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 96px;
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

.target__button:hover::after {
  position: absolute;
  bottom: 2px;
  left: 96px;
  width: 33px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
  background-repeat: no-repeat;
}

.target__button:active,
.target__button:active::after {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .target__item {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .target__item:last-child {
    margin-bottom: 46px;
  }

  .target__title {
    margin-bottom: 25px;
    padding-top: 75px;
    padding-left: 53px;
    font-size: 36px;
    line-height: 37px;
  }

  .target__title--slim-image::before,
  .target__title--mass-image::before {
    top: 91px;
    left: 446px;
    width: 200px;
    height: 200px;
  }

  .target__title--slim-image::after {
    content: "";
    position: absolute;
    top: 79px;
    left: 476px;
    width: 140px;
    height: 194px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .target__title--mass-image::after {
    content: "";
    position: absolute;
    top: 134px;
    left: 412px;
    width: 268px;
    height: 112px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .target__description {
    width: 372px;
    margin-right: 25px;
    margin-bottom: 21px;
    margin-left: 52px;
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .target__description--width {
    width: 343px;
  }

  .target__button {
    margin-bottom: 60px;
    margin-left: 53px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .target__button::after {
    bottom: 4px;
    left: 131px;
  }

  .target__button-mass::after {
    bottom: 4px;
    left: 125px;
  }

  .target__button:hover::after {
    bottom: 4px;
    left: 131px;
  }

  .target__button-mass:hover::after {
    bottom: 4px;
    left: 125px;
  }
}

@media (min-width: 1440px) {
  .target {
    width: 1440px;
  }

  .target__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 74px;
  }

  .target__item {
    width: 570px;
    margin: 0;
  }

  .target__item:last-child {
    margin-bottom: 0;
  }

  .target__title--slim-image::before,
  .target__title--mass-image::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }

  .target__title--slim-image::after {
    top: 41px;
    left: 13px;
    width: 176px;
    height: 97px;
  }

  .target__title--mass-image::after {
    top: 68px;
    left: 34px;
    width: 134px;
    height: 56px;
  }

  .target__title {
    margin-bottom: 75px;
    padding-left: 214px;
  }

  .target__description {
    width: 464px;
    padding-bottom: 9px;
  }
}
