.additional-goods {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.additional-goods__main-title {
  @include font-regular;
  position: relative;
  margin-top: 27px;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 24px;
}

.additional-goods__main-title::after {
  content: "";
  position: absolute;
  top: 14px;
  right: -20px;
  width: 53px;
  height: 3px;
  background-color: $main_color;
}

.additional-goods__wrapper-flex {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 128px;
}

.additional-goods__wrapper {
  border-color: #cdcdcd;
  border-top: $border;

  &:last-child {
    margin-bottom: 39px;

    border-color: #cdcdcd;
    border-bottom: $border;
  }
}

.additional-goods__title {
  @include font-regular;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-goods__description {
  width: 280px;
  margin-bottom: 14px;
  border-collapse: collapse;
  line-height: 14px;
}

.additional-goods__price {
  text-align: right;
}

.additional-goods__button {
  @include button;
  @include big-btn;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: #5eaa2f;

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: 768px) {
  .additional-goods {
    width: 768px;
  }

  .additional-goods__main-title {
    margin-bottom: 80px;
    padding-left: 67px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-goods__main-title::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 0;
    width: 28px;
    height: 3px;
    background-color: $main_color;
  }

  .additional-goods__main-title::after {
    top: 22px;
    right: 0;
    width: 327px;
  }

  .additional-goods__wrapper-flex {
    width: 708px;
    margin: 0 auto;
  }

  .additional-goods__wrapper {
    border: $border;
    border-color: #cdcdcd;
    border-bottom: none;

    &:last-child {
      margin-bottom: 69px;
      border-color: #cdcdcd;
      border-bottom: $border;
    }
  }

  .additional-goods__wrapper-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 633px;
    margin: 0 auto;
  }

  .additional-goods__title {
    margin-top: 25px;
    margin-bottom: 26px;
    padding-left: 2px;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__description {
    display: block;
    width: 230px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 16px;
  }

  .additional-goods__button {
    width: 633px;
    margin-bottom: 27px;
  }

  .additional-goods__characteristic {
    width: 135px;
    padding: 0;
    text-align: right;
  }

  .additional-goods__price {
    width: 95px;
    padding: 0;
    text-align: right;
  }
}

@media (min-width: 1440px) {
  .additional-goods {
    width: 1220px;
    margin-bottom: 17px;
  }

  .additional-goods__wrapper-flex {
    width: 900px;
    margin-left: 0;
  }

  .additional-goods__main-title {
    margin-bottom: 80px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-goods__main-title::before {
    top: 22px;
    left: -110px;
    width: 70px;
    height: 3px;
  }

  .additional-goods__main-title::after {
    top: 22px;
    right: -110px;
    width: 957px;
  }

  .additional-goods__wrapper-item {
    width: 900px;
    margin: 0;
    border-left-style: hidden;
  }

  .additional-goods__wrapper {
    border-right-style: hidden;
    border-left-style: hidden;
  }

  .additional-goods__button {
    width: 245px;
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 16px;
  }

  .additional-goods__description {
    width: 300px;
  }

  .additional-goods__characteristic {
    padding-right: 109px;
    text-align: left;
  }

  .additional-goods__price {
    width: 50px;
    text-align: left;
  }

  .additional-goods__title {
    display: inline-block;
    width: 220px;
    margin-right: 79px;
  }

  .additional-goods__row {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}
