
.characteristics-goods {
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
}

.characteristics-goods__property {
  width: 95px;
  font-weight: 400;
  text-align: left;
}

.characteristics-goods__parameter {
  text-align: right;
}

@media (min-width: 768px) {
  .characteristics-goods {
    font-size: 16px;
    width: 249px;
    margin-bottom: 36px;
  }

  .characteristics-goods__item {
    border-bottom: 1px solid #cdcdcd;
    height: 29px;
  }
}
