
.characteristics-goods {
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
}

.characteristics-goods__property {
  width: 95px;
  font-weight: 400;
  text-align: left;
}

.characteristics-goods__parameter {
  text-align: right;
  width: 44px;
}

@media (min-width: 768px) {
  .characteristics-goods {
    width: 249px;
    margin-bottom: 36px;
    font-size: 16px;
  }

  .characteristics-goods__item {
    height: 29px;
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: 1300px) {
  .characteristics-goods {
    width: 170px;
  }
}
