
.characteristics-goods {
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
}

.characteristics-goods__property {
  width: 95px;
  font-weight: 400;
  text-align: left;
}

.characteristics-goods__parameter {
  text-align: right;
}
