.product-catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 28px;
  border-bottom: 1px solid $background-color;
}

.page-main__title--border {
  padding-bottom: 25px;
  border-bottom: 1px solid $background-color;
}

.product-catalog__image {
  width: 140px;
}

.product-catalog__flex {
  width: 140px;
}

.product-catalog__title {
  @include font-regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100px;
  margin-top: 23px;
}

.product-catalog__button {
  width: 280px;
}

.characteristics-goods {
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse;
}

.characteristics-goods__property {
  width: 90px;
  text-align: left;
}

.characteristics-goods__parameter {
  text-align: right;
}

.characteristics-goods__property {
  font-weight: 400;
}
