.product-catalog__wrapper-flex {
  display: flex;
  flex-direction: column;
}

.product-catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 25px;
  border: 1px solid $background-color;
  border-bottom: none;
}

.product-catalog__image {
  width: 140px;
}

.product-catalog__flex {
  width: 140px;
}

.product-catalog__title {
  @include font-regular;
  width: 100px;
  margin-top: 23px;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-catalog__button {
  @include button;
  width: 280px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: #5eaa2f;

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: 768px) {
  .product-catalog__wrapper-flex {
    width: 708px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }

  .product-catalog__wrapper {
    position: relative;
    flex-direction: column;
    width: 324px;
    margin: 0;
    margin-top: 140px;
    background-color: #f2f2f2;
    padding-top: 164px;
    padding-bottom: 0;
    border: none;
  }


  .product-catalog__image-small--tablet {
    position: absolute;
    left: 0;
    top: -46px;
    width: 323px;
    height: 172px;
  }

  .product-catalog__image-big--tablet {
    position: absolute;
    left: 0;
    top: -80px;
    width: 323px;
    height: 207px;
  }

  .product-catalog__flex {
    width: 249px;
    margin: 0 auto;
  }

  .product-catalog__title {
    font-size: 20px;
    width: 130px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 23px;
  }

  .product-catalog__button {
    width: 249px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
