.show-more {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  padding-bottom: 25px;
  border: $border;
}

.show-more__view {
  @include font-regular;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding-top: 83px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.show-more__description {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.show-more__button {
  @include button;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

.show-more::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 144px;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .show-more {
    width: 324px;
    margin-top: 140px;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 30px;
    padding: 0;
    padding-top: 165px;
  }

  .show-more__button {
    width: 249px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }

  .show-more::before {
    top: 55px;
    left: 132px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-plus.svg");
  }

  .show-more__view {
    width: 175px;
    margin-bottom: 26px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .show-more__description {
    width: 200px;
    margin-bottom: 86px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 1440px) {
  .show-more {
    width: 245px;
    margin-right: 0;
    margin-left: 0;
  }

  .show-more__button {
    width: 169px;
  }

  .show-more::before {
    top: 57px;
    left: 92px;
  }

  .show-more__view {
    margin-bottom: 27px;
  }
}
